</div>
</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">by yu.Zheng © 2015 AllMobilize, Inc. </p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<load href="__PUBLIC__/js/polyfill/rem.min.js" />
<load href="__PUBLIC__/js/polyfill/respond.min.js" />
<load href="__PUBLIC__/js/amazeui.legacy.js" />
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<load href="__PUBLIC__/js/jquery.min.js" />
<load href="__PUBLIC__/js/amazeui.min.js" />
<!--<![endif]-->
<load href="__PUBLIC__/js/app.js" />
</body>
</html>